
@{
    ViewData["Title"] = "CreateAccount";
}

<h1>Account Creation:</h1>

<div>
    @Html.ActionLink("Create Checking Account", "Create", "CheckingAccount")
</div>
<div>
    @Html.ActionLink("Create Business Account", "Create", "BusinessAccount")
</div>

<div>
    @Html.ActionLink("Take out a Loan", "Create", "CheckingAccount")
</div>
<div>
    @Html.ActionLink("Open a Certificate of Deposit", "Create", "CheckingAccount")
</div>

