@model ModelClasses.View_Models.ListOfAccounts

@{
    ViewData["Title"] = "CreateAccount";
}

<h1>Account Creation:</h1>

<div>
    <a asp-action="Create" asp-controller="Account" asp-route-id="1">Create Checking |</a>
    <a asp-action="Create" asp-controller="Account" asp-route-id="2">Create Business | </a>
    <a asp-action="Create" asp-controller="Account" asp-route-id="3">Take out a Loan | </a>
    <a asp-action="Create" asp-controller="Account" asp-route-id="4">Open a Term Deposit</a>
    </div>
