@model ModelClasses.View_Models.Transfer
@{
    ViewData["Title"] = "MakeATransfer";
}

<body>

    <form asp-controller="Account" asp-action="MakeATransfer">
        <p>
            <label asp-for="TransferFrom" class="control-label"></label>
            <input asp-for="TransferFrom" class="form-control" disabled/> 
            <span asp-validation-for="TransferFrom" class="text-danger"></span>

        </p>
        <div>
        </div>
        <p>
        </p>
        
        <p>
            <label asp-for="TransferTo" class="control-label"></label>
            @Html.DropDownListFor(m => m.TransferTo,
            new SelectList(Model.accounts, "ID", "ID"))
        </p>
        
        <br>
        <p> Please enter the amount you wish to transfer </p>
        <input asp-for="_transferAmount" class="form-control" /> 
        <br>

        <input type="submit" value="Make Transfer" class="btn btn-primary" />
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
