@model ModelClasses.View_Models.Transfer
@{
    ViewData["Title"] = "MakeATransfer";
}

<body>

    <form asp-controller="CheckingAccount" asp-action="MakeATransfer">
        <p>
            @Html.DisplayFor(model => model.transferFrom)
            @*<label asp-for="AccountType" class="control-label"></label>
            <input asp-for="" class="form-control" /> disabled*@
        </p>
        <div>
        </div>
        <p>
            @Html.DisplayFor(model => model.transferTo)
        </p>
        @foreach (var item in Model.accounts)
        {
            <p>
                @Html.DropDownListFor(m => item.ID,
                new SelectList(Model.accounts, "ID", "ID"));
            </p>
        }
        <br>
        <label asp-for="_transferAmount" class="control-label"></label>
        <input asp-for="_transferAmount" class="form-control" /> disabled
        <br>

        <input type="submit" value="Make Transfer" class="btn btn-primary" />
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
