@model ModelClasses.View_Models.Transfer
@{
    ViewData["Title"] = "MakeATransfer";
}

@if (ViewBag.IsEnabled == true)
{
    @ViewBag.TransferError

    <a asp-controller="Account" asp-action="Index">View List of Accounts</a>
}

<form asp-controller="Account" asp-action="MakeATransfer">

    <div class="form-group">
        <label asp-for="TransferFrom" class="control-label"></label>
        <input asp-for="TransferFrom" name="TransferFrom" class="form-control" disabled />
        <span asp-validation-for="TransferFrom" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="TransferTo" name="TransferTo" class="control-label"></label>
        @Html.DropDownListFor(m => m.TransferTo,
        new SelectList(Model.accounts, "ID", "ID"))
    </div>

    <br>
    <div class="form-group">
        <p> Please enter the amount you wish to transfer </p>
        <label asp-for="TransferAmount" name="TransferAmount" class="control-label"></label>
        <input asp-for="TransferAmount" name="TransferAmount" class="form-control" />
        <span asp-validation-for="TransferAmount" name="TransferAmount" class="text-danger"></span>

    </div>

    <div class="form-group">
        <input type="submit" value="MakeATransfer" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>


