@model ModelClasses.View_Models.Withdraw

@{
    ViewData["Title"] = "Withdraw";
}

<h4>Withdraw</h4>
@ViewBag.Message
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Withdraw">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WithdrawalAmount" class="control-label"></label>
                <input asp-for="WithdrawalAmount" class="form-control" />
                <span asp-validation-for="WithdrawalAmount" class="text-danger"></span>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

