@model ModelClasses.View_Models.TakeOutALoan

@{
    ViewData["Title"] = "CreateLoan";
}

<h1>CreateLoan</h1>
<h2>
    @ViewBag.DepositError
</h2>
<h4>LoanTable</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="TakeOutALoan">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LoanAmount" class="control-label"></label>
                <input asp-for="LoanAmount" class="form-control" />
                <span asp-validation-for="LoanAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthlyPlan" class="control-label"></label>
                <input asp-for="MonthlyPlan" class="form-control" />
                <span asp-validation-for="MonthlyPlan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

